[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrdict = "*"
click = "*"
colorama = "*"
ipython = "*"
nltk = "*"
numpy = "*"
pandas = "*"
progressbar = "*"
py-cpuinfo = "*"
python-dateutil = "*"
requests = "*"
scikit-learn = "*"
scipy = "*"
sentence-transformers = "*"
tensorboard = "*"
torch = "*"
torchinfo = "*"
torchtext = "*"
tqdm = "*"
transformers = "*"
typing-extensions = "*"
bertopic = "*"
beautifulsoup4 = "*"
wordcloud = "*"
python-dotenv = "*"
daal = "*"
PyYAML = "*"
types-PyYAML = "*"
PyQt5 = "*"
PyQtWebEngine = "*"
"ruamel.yaml" = "*"
flask = "*"

[dev-packages]
isort = "*"
mypy = "*"
flake8 = "*"
black = "*"

[requires]
python_version = "3.9"
