[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrdict = "*"
click = "*"
colorama = "*"
ipython = "*"
nltk = "*"
numpy = "*"
pandas = "*"
progressbar = "*"
py-cpuinfo = "*"
python-dateutil = "*"
requests = "*"
scikit-learn = "*"
scipy = "*"
sentence-transformers = "*"
tensorboard = "*"
torch = "*"
torchinfo = "*"
torchtext = "*"
tqdm = "*"
transformers = "*"
typing-extensions = "*"
bertopic = "*"
beautifulsoup4 = "*"
wordcloud = "*"
python-dotenv = "*"
PyYAML = "*"
types-PyYAML = "*"
PyQt5 = "*"
PyQtWebEngine = "*"
"ruamel.yaml" = "*"
flask = "*"
types-requests = "*"
seaborn = "*"
arxiv = "*"
pyunpack = "*"
patool = "*"
mecab-python3 = "*"
unidic = "*"
kaggle = "*"
gensim = "*"
networkx = "*"
sumeval = "*"
h5py = "*"
types-python-dateutil = "*"

[dev-packages]
daal = "*"
isort = "*"
mypy = "*"
flake8 = "*"
black = "*"
frozen-flask = "*"
pytest = "*"

[requires]
python_version = "3.9"
