attrdict @ git+https://github.com/akitenkrad/attrdict
ml_tools @ git+https://github.com/akitenkrad/ml_tools
arxiv
beautifulsoup4
black
click
colorama
flake8
gensim
h5py
ipadic
ipython
ipywidgets
isort
jupyterlab
kaggle
kaleido
mecab-python3
mlflow
mypy
networkx
nltk
numpy
pandas
patool
plotly
progressbar
py-cpuinfo
pykakasi
pytest
python-dateutil
python-dotenv
pyunpack
PyYAML
requests
scikit-learn
scipy
seaborn
sumeval
tensorboard
transformers
torch
torchinfo
torchtext
torchvision
tqdm
types-python-dateutil
types-PyYAML
types-requests
typing-extensions
types-toml
unidic
wordcloud
