arxiv
beautifulsoup4
black
click
colorama
daal
flake8
gensim
git+https://github.com/akitenkrad/attrdict#egg=attrdict
h5py
ipython
ipywidgets
isort
jupyterlab
kaggle
mecab-python3
mypy
networkx
nltk
numpy
pandas
patool
plotly
progressbar
py-cpuinfo
pytest
python-dateutil
python-dotenv
pyunpack
PyYAML
requests
scikit-learn
scipy
seaborn
sumeval
tensorboard
torch
torchinfo
torchtext
torchvision
tqdm
types-python-dateutil
types-PyYAML
types-requests
typing-extensions
unidic
wordcloud
