h2 {
    position: relative;
    overflow: hidden;
    margin-top: 3rem;
    padding: 1.5rem 2rem 1.5rem 130px;
    border-bottom: 3px solid rgb(40, 40, 40);
  }
  
  h2:before {
    position: absolute;
    top: -150%;
    left: -100px;
    width: 200px;
    height: 300%;
    content: '';
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
    background: rgb(40, 40, 40);
  }
  
  h2 span {
    font-size: 40px;
    font-size: 4rem;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: block;
    padding-top: 3px;
    padding-left: 16px;
    color: #fff;
  }

  iframe {
    border: none;
  }
